
.project-list .project-name {
    line-height: 30px;
    font-size: 100%;
    font-weight: bolder;
    height: 60px;
    text-align: center;
}

.project-name a {
    text-decoration: none;
    color: #000;
}

.project-list .project-description {
    font-size: small;
    padding-top: 20px;
}

.projectList .project-more {
    font-size: small;
}

.project-list a.project-more {
    text-decoration: none;
    color:#000;
}

.project-list .row {
    border-bottom: 1px solid #aaa;
}

.project-image {
    text-align: center;
}

.project-title {
    text-align: center;
    padding-top: 20px;
}

#project-view-name,
#project-contribution-name{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    padding: 20px;
}

.projects-nav {
    display: block;
    text-align: right;
    padding: 20px;
}