div.hsbcBannerTxt.A {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0E83F8;
	text-decoration: none
}

div.hsbcBannerTxt.A:Link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0E83F8;
	text-decoration: none
}

div.hsbcBannerTxt.A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0E83F8;
	text-decoration: none
}

div.hsbcBannerTxt.A:Hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0E83F8;
	text-decoration: none
}

div.hsbcBannerTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #0E83F8;
	text-decoration: none padding : 0px;
	position: relative;
	width: 266px;
	height: 20px;
	overflow: hidden;
	line-height: 110%;
	top: 20px;
	left: 10px;
	z-index: 2;
	cursor: pointer;
}

.mdtxt_nls {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: arial, helvetica, sans-serif;
}

.mdtxtbd_nls {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: arial, helvetica, sans-serif;
}

a.cls_teaserTxt:link {
	text-decoration: none;
	COLOR: #000000;
}

a.cls_teaserTxt:hover {
	text-decoration: underline;
	COLOR: #000000;
}

a.cls_teaserTxt:visited {
	COLOR: #CDCDCD;
}

A:link {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

A {
	text-decoration: none;
}